<section class="login-sec">
    <div class="login-container">
        <div class="log-col">
            <div class="form-wrap">
                <div class="logo-img">
                    <img src="../../../assets/images/logo.png" alt="Logo">
                </div>
                <!-- <h1>Hi, welcome to CRM</h1> -->
                <h2>Reset your password</h2>

                <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPassUser()">
                    <div class="row gy-4">
                        <div class="col-12">
                            <label for="exampleInputEmail" class="form-label">User Name *</label>
                            <input type="email" class="form-control user__name" placeholder="User Name"
                                #exampleInputEmail formControlName="email" ngModel>
                            <p class="warn" #warning *ngIf="userName && userName.invalid && userName.touched"> 
                                <fa-icon [icon]="warningIcon"></fa-icon> 
                                Enter your user name
                            </p>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn login__btn shrink mb-1">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="log-col">
            <div class="banner-img">
                <img src="../../../assets/images/login-banner.png" alt="Banner">
            </div>
        </div>
    </div>
</section>